<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!-- Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>

	<!-- Para que lea los metodos anotados con @Transactional -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	

	<!-- CREO EL SERVICIO PARA CLIENTE -->
	<bean id="serviceBean" class="frgp.utn.edu.ar.servicioImpl.ClienteServicioImpl">
		<property name="dataAccess" ref="dataAccessBean"></property>
	</bean>

	<!-- CREO EL SERVICIO PARA LOGIN -->
	<bean id="loginService" class="frgp.utn.edu.ar.servicioImpl.LoginServicioImpl">
		<property name="dataAccess" ref="usuarioDao"></property>
	</bean>
	
	<!-- CREO EL SERVICIO PARA ARTICULO -->
	<bean id="serviceBeanArt" class="frgp.utn.edu.ar.servicioImpl.ArticuloServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanArt"></property>
	</bean>
	
	<!-- CREO EL SERVICIO PARA STOCK -->
	<bean id="serviceBeanStock" class="frgp.utn.edu.ar.servicioImpl.StockServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanStock"></property>
	</bean>
	
		
	<!-- CREO EL SERVICIO PARA Ventas -->
	<bean id="serviceBeanVentas" class="frgp.utn.edu.ar.servicioImpl.VentasServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanVentas"></property>
	</bean>
		
	<!-- CREO EL SERVICE PARA TipoArticulo -->
	<bean id="tipoArticuloService" class="frgp.utn.edu.ar.servicioImpl.TipoArticuloServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanTipoArticulo" />
	</bean>
		
	<!-- CREO EL SERVICE PARA Marca -->
	<bean id="marcaService" class="frgp.utn.edu.ar.servicioImpl.MarcasServicioImpl">
		<property name="dataAccess" ref="dataAccessBeanMarca" />
	</bean>

	<!-- EL SERVICIO NECESITA EL DAO  -->
	<bean id="dataAccessBean" class="frgp.utn.edu.ar.daoImpl.ClienteDaoImpl"
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>

	<bean id="usuarioDao" class="frgp.utn.edu.ar.daoImpl.UsuarioDaoImpl"
		  scope="singleton">
		<property name="sessionFactory" ref="sessionFactoryBean"></property>
	</bean>
	
	<bean id="dataAccessBeanArt" class="frgp.utn.edu.ar.daoImpl.ArticuloDaoImpl"
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
		<bean id="dataAccessBeanStock" class="frgp.utn.edu.ar.daoImpl.StockDaoImpl"
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
	<bean id="dataAccessBeanVentas" class="frgp.utn.edu.ar.daoImpl.VentasDaoImpl"
		scope="singleton"> 
		<property name="sessionFactory" ref="sessionFactoryBean"></property> 
	</bean>
	
			
			<!-- CREO EL DAO PARA TipoArticulo -->
		<bean id="dataAccessBeanTipoArticulo" class="frgp.utn.edu.ar.daoImpl.TipoArticuloDaoImpl">
		    <property name="sessionFactory" ref="sessionFactoryBean" />
		</bean>
		
		<!-- CREO EL DAO PARA Marca -->
		<bean id="dataAccessBeanMarca" class="frgp.utn.edu.ar.daoImpl.MarcasDaoImpl">
		    <property name="sessionFactory" ref="sessionFactoryBean" />
		</bean>
		
<bean id="dataInitializer" class="frgp.utn.edu.ar.initializer.DataInitializer" scope="prototype">
    <constructor-arg ref="jdbcTemplate" />
</bean>
		
	<!-- Define un dataSource, en este bean se configura los parametros de la db -->
	<bean id="dataSourceBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/tp_integrador?createDatabaseIfNotExist=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <property name="dataSource" ref="dataSourceBean" />
</bean>

	<!-- Session factory de Hibernate -->
	<bean id="sessionFactoryBean"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBean" />

		<!-- En esta propiedad deberian agregarse todas las clases anotadas con JSP. -->
		<property name="annotatedClasses">
			<list>
				<value>frgp.utn.edu.ar.dominio.Cliente</value>
				<value>frgp.utn.edu.ar.dominio.Articulo</value>
				<value>frgp.utn.edu.ar.dominio.Stock</value>
				<value>frgp.utn.edu.ar.dominio.Ventas</value>
				<value>frgp.utn.edu.ar.dominio.Usuario</value>
				<value>frgp.utn.edu.ar.dominio.RolUsuario</value>
				<value>frgp.utn.edu.ar.dominio.TipoArticulo</value>
				<value>frgp.utn.edu.ar.dominio.Marcas</value>
				<value>frgp.utn.edu.ar.initializer.DataInitializer</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="show_sql">true</prop >
				
				<!-- CREACION DE LA BASE -->
				<prop key="hibernate.hbm2ddl.auto">update</prop> 
			</props>
		</property>
	</bean>

	
	
</beans>