@charset "ISO-8859-1";

body{
	overflow: hidden;
}

.mainBackgorundsetting{
	background-image: url("/resources/img/home-background.jpg");
}

.home{
	height: 90vh; 
	width: 100%;
	background-image: url("/Spring-Hibernate/resources/img/home-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #D8D8D8;
}
.sectionSizes{
	height: 400px;
	width: inherit;
}

.inhetHeight{
	height: inherit;
}

.linkingCard{
	margin: 5px 0;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 3px 2px 10px 0 #2222;
	padding: 60px;
}

.linkingFirst{
	height: 100%;
}

.linkingDoubles{
	height: 50%;	
}

.articuloCard{
	background-image: url("/Spring-Hibernate/resources/img/articulos-clickevent.png");
	background-size: cover;
	background-position: center;
	transition: transform 0.3s ease;
	color: #fff;
	text-shadow: 2px 2px #000;
}

.articuloCard:hover{
	background-size: 120%;
	transform: scale(1);
	cursor: pointer;
}

.ventasCard{
		background-image: url("/Spring-Hibernate/resources/img/ventas-clickevent.jpg");
	background-size: cover;
	background-position: center;
	transition: transform 0.3s ease;
	color: #fff;
	text-shadow: 2px 2px #000;
}

.ventasCard:hover{
		background-size: 120%;
	transform: scale(1);
	cursor: pointer;
}

.clientesCard{
	background-image: url("/Spring-Hibernate/resources/img/clientes-clickevent.jpg");
	background-size: cover;
	background-position: center;
	transition: transform 0.3s ease;
	color: #fff;
	text-shadow: 2px 2px #000;
}

.clientesCard:hover{
	background-size: 200%;
	transform: scale(1);
	cursor: pointer;
}

.rowHeight{
	height: inherit;
	border: 1px solid black;
}